:root {
  --num-row: 4;
  --num-colum: 4;
  --size: 10rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  background-image: radial-gradient(circle, #444040, #464343, #000000);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100vh;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  text-align: center; }

.card {
  width: 100%;
  height: 100%;
  perspective: 60rem;
  position: relative;
  transition: all .8s ease;
  transform-style: preserve-3d; }
  .card__side {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 2rem;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 5px 7px 10px 0 rgba(116, 113, 113, 0.5); }
  .card--front {
    background-color: #0f0e0c; }
  .card--back {
    transform: rotateY(180deg); }
  .card--open {
    transform: rotateY(180deg); }
  .card__board {
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(var(--num-row), var(--size));
    grid-template-columns: repeat(var(--num-colum), var(--size));
    margin: 0 auto auto auto;
    grid-gap: 1rem; }

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover; }

.btn {
  font-size: 1.75rem;
  background-color: inherit;
  display: inline;
  padding: 0.4rem;
  border: none;
  border-radius: 5%;
  color: white;
  padding: 0.5rem 0.8rem;
  text-shadow: 2px 2px 4px #685353; }
  .btn:not(:last-child) {
    margin-right: 1.5rem; }
  .btn:hover, .btn:active, .btn:focus {
    transform: translateY(-0.2rem);
    outline: none; }

.copyright {
  color: white; }
  .copyright:visited, .copyright:link {
    text-decoration: none;
    outline: none; }

.container {
  position: relative;
  display: grid;
  grid-template-rows: 15vh 78vh 7vh;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 auto; }

.heading {
  position: relative;
  color: white;
  font-size: 1.65rem;
  text-shadow: 2px 2px 4px #685353;
  padding: 1rem; }
  .heading__nav {
    position: absolute;
    bottom: 0;
    width: 100%; }

.footer {
  padding: 0.7rem;
  position: absolute;
  color: white;
  bottom: 0;
  width: 100%; }
